# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node & Build (Esto es lo más importante)
node_modules
dist
dist-ssr
*.local

# Archivos de entorno (Seguridad)
.env
.env.*
!.env.example

# IDEs y SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Capacitor (Preparación para móvil)
/android
/ios